In [5]:
%matplotlib inline
import numpy as np
import pandas as pd
import scipy
import sklearn
import spacy
import matplotlib.pyplot as plt
import seaborn as sns
import re
from collections import Counter
from nltk.corpus import gutenberg, stopwords
%run Challenge.ipynb

0    [8, year, life, Galileo, house, arrest, espous...
1    [2, 1912, olympian, football, star, Carlisle, ...
2    [city, Yuma, state, record, average, 4,055, ho...
3    [1963, live, Art, Linkletter, company, serve, ...
4    [signer, December, Indep, framer, Constitution...
5    [title, Aesop, fable, insect, share, billing, ...
6    [build, 312, B.C., link, Rome, South, Italy, u...
7    [8, 30, steal, Birmingham, Barons, 2,306, stea...
8    [winter, 1971, 72, record, 1,122, inch, snow, ...
9    [houseware, store, name, packaging, merchandis...
dtype: object
1684334
['city', 'play', 'name', 'country', 'man', 'call', '2', 'know', 'see', 'like', 'type', 'film', 'say', 'state', 'U.S.', 'year', 'title', 'write', 'word', 'mean', 'win', 'come', 'include', 'large', 'bear', 'novel', 'find', 'term', 'New', 'time', 'star', 'work', '3', 'capital', 'president', '1', 'book', 'get', 'woman', 'go', 'old', 'take', 'famous', 'hit', 'song', 'day', 'world', 'John', 'give', 'home', 'begin', 'group', 'character', 'island', 'long', 'author', 'american', 'good', 'company', 'tell', 'people', 'century', 'end', 'tv', 'high', 'lead', 'movie', 'form', 'line', 'french', 'game', 'die', 'love', 'life', 'feature', '4', 'base', 'live', 'use', 'great', 'small', 'king', 'big', 'help', 'place', 'set', 'run', 'british', 'found', 'new', 'serve', 'water', 'hold', 'family', 'head', 'leave', 'body', 'number', 'war', 'animal']
True
done
0  done
25000  done
50000  done
75000  done
100000  done
125000  done
150000  done
175000  done
200000  done
["For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory", 'No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves']
Number of features: 27804
151851
Original sentence: A key element in local gov't is this type of meeting held annually on the first Tuesday in March
Tf_idf vector: {'tuesday': 0.38064595263156303, 'annually': 0.3814241629024681, 'gov': 0.34760129702960896, 'meeting': 0.32618596809385936, 'local': 0.33576236297388967, 'held': 0.2726629347271754, 'march': 0.266798302350671, 'key': 0.3230567987505673, 'element': 0.2836734589934539, 'type': 0.19824534840456}
(151851, 2000) (65079, 2000) (151851,) (65079,)

/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

[0.5250889  0.52258659 0.52848205 0.52617715 0.52156734 0.52051366
 0.52420151 0.5217649  0.52064537 0.52522392]
0.9442611507332846
0.5230719586963537

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

[0.54458053 0.54925589 0.55146526 0.55370431 0.54902865 0.55284821
 0.55100428 0.55607507 0.54033586 0.54985511]
Train score:  0.5763149403033236
Test score:  0.5503618678836492
[0.54892664 0.5508363  0.55278235 0.54863352 0.54626276 0.54784327
 0.55745802 0.54527494 0.54395785 0.55031612]
Train score:  0.5689195329632337
Test score:  0.550576991041657

# Jeopardy! Categories!

In the challenge exercise, I attempted to predict in which Jeopardy round a question might appear. It wasn't an overwhelming success as I was only able to get about 55% success rate in predictions. For this project, I am going to use clustering to see how ~28,000 categories can be grouped more broadly. I want to see if adding the category as a feature will improve the accuracy of my model.

In [6]:
# first let's take a closer look at the categories
filtered_df.head()

,Round,Category,Value,Question,cleaned,spacy
0,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...","For the last 8 years of his life, Galileo was ...","(For, the, last, 8, years, of, his, life, ,, G..."
1,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,No. 2: 1912 Olympian; football star at Carlisl...,"(No, ., 2, :, 1912, Olympian, ;, football, sta..."
2,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,The city of Yuma in this state has a record av...,"(The, city, of, Yuma, in, this, state, has, a,..."
3,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...","In 1963, live on ""The Art Linkletter Show"", th...","(In, 1963, ,, live, on, "", The, Art, Linklette..."
4,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...","Signer of the Dec. of Indep., framer of the Co...","(Signer, of, the, Dec., of, Indep, ., ,, frame..."

In [7]:
filtered_df[' Category'].describe()

count             216930
unique             27995
top       BEFORE & AFTER
freq                 547
Name:  Category, dtype: object

In [8]:
filtered_df[' Category'].value_counts()

BEFORE & AFTER               547
SCIENCE                      519
LITERATURE                   496
AMERICAN HISTORY             418
POTPOURRI                    401
WORLD HISTORY                377
WORD ORIGINS                 371
COLLEGES & UNIVERSITIES      351
HISTORY                      349
SPORTS                       342
U.S. CITIES                  339
WORLD GEOGRAPHY              338
BODIES OF WATER              327
ANIMALS                      324
STATE CAPITALS               314
BUSINESS & INDUSTRY          311
ISLANDS                      301
WORLD CAPITALS               300
U.S. GEOGRAPHY               299
RELIGION                     297
OPERA                        294
SHAKESPEARE                  294
LANGUAGES                    284
BALLET                       282
TELEVISION                   281
FICTIONAL CHARACTERS         280
RHYME TIME                   279
TRANSPORTATION               279
PEOPLE                       279
STUPID ANSWERS               270
                            ...
BIBLICAL JOURNEYS              1
TOP ATHLETES                   1
OSCAR-WINNING SINGERS          1
MODERN MATERIALS               1
TECHNOLOGY FIRSTS              1
MAP READING                    1
THE PRESIDENTIAL CABINET       1
GEM LORE                       1
OLD NAMES IN THE NEWS          1
SAME LAST NAMES                1
FAMOUS OBJECTS                 1
IRISH-BORN AUTHORS             1
TRAVELING THE GLOBE            1
POLITICAL JARGON               1
AMERICAN WOMEN AUTHORS         1
PSYCHOLOGICAL TERMS            1
FAMOUS NAMES OF THE 1950s      1
CABINET OFFICERS               1
16th CENTURY EXPLORERS         1
BRAND NAME PEOPLE              1
AMERICAN PUBLISHING            1
BOTANICAL ETYMOLOGY            1
MEDICAL TERMINOLOGY            1
IN THE NEWS 1952               1
...SEE WHAT'S ON THE SLAB      1
'90s OLYMPIC NAMES             1
ISLAND CHAINS                  1
AMERICAN FICTION WRITERS       1
FAMILIAR PHRASE ORIGINS        1
MILITARY NEWS                  1
Name:  Category, Length: 27995, dtype: int64

Now, we can see right away that trying to cluster with just the category names might prove to be too difficult/inaccurate since the categories only consist of 2-3 words. Using tf-idf relies on frequency in the sentence compared with frequency in the document, so instead, I will combine the question and the category and then attempt to form clusters.

In [15]:
filtered_df['combined'] = filtered_df[' Category'] + ' ' + filtered_df['cleaned']
filtered_df.head()

,Round,Category,Value,Question,cleaned,spacy,combined
0,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...","For the last 8 years of his life, Galileo was ...","(For, the, last, 8, years, of, his, life, ,, G...","HISTORY For the last 8 years of his life, Gali..."
1,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,No. 2: 1912 Olympian; football star at Carlisl...,"(No, ., 2, :, 1912, Olympian, ;, football, sta...",ESPN's TOP 10 ALL-TIME ATHLETES No. 2: 1912 Ol...
2,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,The city of Yuma in this state has a record av...,"(The, city, of, Yuma, in, this, state, has, a,...",EVERYBODY TALKS ABOUT IT... The city of Yuma i...
3,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...","In 1963, live on ""The Art Linkletter Show"", th...","(In, 1963, ,, live, on, "", The, Art, Linklette...","THE COMPANY LINE In 1963, live on ""The Art Lin..."
4,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...","Signer of the Dec. of Indep., framer of the Co...","(Signer, of, the, Dec., of, Indep, ., ,, frame...",EPITAPHS & TRIBUTES Signer of the Dec. of Inde...

That looks good. Let's vectorize!!

In [16]:
# change column to list
comb_list = filtered_df['combined'].tolist()

In [24]:
# hold out 25% of data as a test set
X_train, X_test = train_test_split(comb_list, test_size=0.25, random_state=26)
#print(X_train.shape)

In [28]:
# format vectorizer
vectorizer = TfidfVectorizer(max_df=0.5, # drop words that occur in more than half the paragraphs
                             min_df=10, # i want to use words that appear at least 10 times
                             stop_words='english', 
                             lowercase=True, #convert everything to lower case (since Alice in Wonderland has the HABIT of CAPITALIZING WORDS for EMPHASIS)
                             use_idf=True,#we definitely want to use inverse document frequencies in our weighting
                             norm=u'l2', #Applies a correction factor so that longer paragraphs and shorter paragraphs get treated equally
                             smooth_idf=True #Adds 1 to all document frequencies, as if an extra document existed that used every word once.  Prevents divide-by-zero errors
                            )

In [29]:
# apply the vectorizer
comb_list_tfidf = vectorizer.fit_transform(comb_list)
print('Number of features: %d' % comb_list_tfidf.get_shape()[1])

Number of features: 19051

In [35]:
# split into train and test vectors
X_train_tfidf, X_test_tfidf = train_test_split(comb_list_tfidf, test_size=0.25, random_state=26)

In [36]:
#Reshapes the vectorizer output into something people can read
X_train_tfidf_csr = X_train_tfidf.tocsr()
#print(X_train_tfidf.shape)
#print(X_test_tfidf_csr)

#number of paragraphs
n = X_train_tfidf_csr.shape[0]

#A list of dictionaries, one per paragraph
tfidf_byques = [{} for _ in range(0,n)]

#List of features
terms = vectorizer.get_feature_names()

#for each paragraph, lists the feature words and their tf-idf scores
for i, j in zip(*X_train_tfidf_csr.nonzero()):
    tfidf_byques[i][terms[j]] = X_train_tfidf_csr[i, j]

#Keep in mind that the log base 2 of 1 is 0, so a tf-idf score of 0 indicates that the word was present once in that sentence.
print('Original sentence:', X_train[5])
print('Tf_idf vector:', tfidf_byques[5])

Original sentence: EGGS & HAM The ham & cheese version of this egg dish is prepared in much the same manner as the Lorraine
Tf_idf vector: {'manner': 0.336100988289531, 'lorraine': 0.3405620215897985, 'prepared': 0.2944894763367392, 'dish': 0.2500696568261996, 'cheese': 0.25382633746578803, 'ham': 0.6006912149220507, 'eggs': 0.26920627264605274, 'version': 0.22859153919328828, 'egg': 0.26797555090837477}

Increasing the min_df parameter to 10 words from 5 decreased the number of features from 30,000+ to 19,000. We are going to further trim the number of features using Singular Value Decomposition.

In [39]:
from sklearn.decomposition import TruncatedSVD
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import Normalizer

# We are going to reduce the feature space from 19,051 to 1900.
svd= TruncatedSVD(1900)
lsa = make_pipeline(svd, Normalizer(copy=False))

# Run SVD on the training data, then project the training data.
X_train_lsa = lsa.fit_transform(X_train_tfidf)

variance_explained=svd.explained_variance_ratio_
total_variance = variance_explained.sum()
print("Percent variance captured by all components:",total_variance*100)

#Looking at what sorts of paragraphs our solution considers similar, for the first five identified topics
paras_by_component=pd.DataFrame(X_train_lsa,index=X_train)
for i in range(5):
    print('Component {}:'.format(i))
    print(paras_by_component.loc[:,i].sort_values(ascending=False)[0:10])
    print('\n')

Percent variance captured by all components: 50.3266875508026
Component 0:
STATE CAPITALS Chartered in 1781, it's the only state capital named for a French city                  0.393608
WORLD GEOGRAPHY Bhopal is the capital of this country's Madhya Pradesh state                           0.392689
THE STATE I'M IN Snowflake, Bullhead City, Scottsdale                                                  0.376095
THE WORLD I see this city, the capital of Uruguay                                                      0.370173
COUNTRIES OF THE WORLD It's the only country whose name is the same as an American state's             0.370134
WORLD FACTS Cuernavaca is the capital of this North American country's state of Morelos                0.365592
WORLD GEOGRAPHY Like the city of Bern, the Bernese Alps are in this country                            0.357448
WORLD GEOGRAPHY Hobart is the capital city of this island state of Australia                           0.352545
STATE CAPITAL NICKNAMES "The First City of the First State"                                            0.351763
ROCHESTER Just up the turnpike from Portsmouth is the "Lilac City" of Rochester in this "New" state    0.347796
Name: 0, dtype: float64


Component 1:
EXCEPTIONAL WORDS It's a 5-letter word for "poisonous"                        0.664700
3-LETTER WORDS A flipper or a fiver                                           0.655309
9-LETTER WORDS A vortex or a jacuzzi                                          0.655309
3-LETTER WORDS To udderly intimidate someone                                  0.655309
6-LETTER WORDS A craven poltroon                                              0.654676
5-LETTER WORDS The 2 5-letter words for the appliance being repaired here:    0.654631
4-LETTER WORDS The Abominable Snowman                                         0.654282
3-LETTER WORDS Over there; often hitched with hither                          0.654158
3-LETTER WORDS Weep aloud, or cry uncontrollably                              0.653791
9-LETTER WORDS It's another name for the femur                                0.653171
Name: 1, dtype: float64


Component 2:
LETTER AFTER F To abbreviate a state                                      0.730568
5-LETTER WORDS A state of stiffness in tissue; it can precede "mortis"    0.702982
4 I's ONLY A U.S. state                                                   0.699216
THE STATE NAME ...with 2 Ks                                               0.699216
THE STATE NAME ...with a Z                                                0.699216
THE STATE NAME ...with the most Is                                        0.699216
THIS & THAT This U.S. state is "The Magnolia State", y'all                0.698488
U.S.A. Acadia & Evangeline are parishes in this state                     0.697351
THE STATE I'M IN Laconia, Concord, Ossipee                                0.694464
STATE THE OBVIOUS [State outline]                                         0.694259
Name: 2, dtype: float64


Component 3:
THE WORLD I see this city, the capital of Uruguay                                                              0.538269
WORLD CITIES The Gaelic name for this capital city is Baile Atha Cliath                                        0.493882
WORLD CITIES To attend Kenya Polytechnic, you have to go to this capital city                                  0.491099
TRAVELIN' If you're in Rabat, you must be in the capital city of this country                                  0.454301
WORLD CITIES After Rhodesia became this country, Salisbury, its capital, became Harare                         0.446536
WORDS WITHIN WORDS This capital city could be the climax of your world tour                                    0.442798
WORLD CAPITALS This Alpine city is the capital of a canton as well as the capital of a country, Switzerland    0.441166
WORLD CITIES In 1788 Agha Mohammad Khan made this city the capital of Persia; it's now the capital of Iran     0.440996
AROUND THE WORLD It's believed that Cadiz, a city in this country, was once Gadir, a Phoenician settlement     0.440692
AROUND THE WORLD Cities in this country include Baguio, Quezon City & Manila                                   0.432057
Name: 3, dtype: float64


Component 4:
CROSSWORD CLUES "K" Klumsy klod              0.978194
CROSSWORD CLUES "F" Falsehood                0.978194
CROSSWORD CLUES "C" Have a bawl              0.978194
CROSSWORD CLUES "L" Southpaw                 0.978194
CROSSWORD CLUES "K" Chivalrous chesspiece    0.978194
CROSSWORD CLUES "A" Ire                      0.978194
CROSSWORD CLUES "T" No-no                    0.978194
CROSSWORD CLUES "E" A temblor                0.978194
CROSSWORD CLUES "M" Elvisopolis              0.978194
CROSSWORD CLUES "F" Feydeau's forte          0.978194
Name: 4, dtype: float64

So we've compressed the feature set from 19000 to 1900. This model is still able to explain 50% of the variance so that's not too bad (50% variance loss to 90% reduction in features). An attempt was made to reduce the features to 1% or 190, but that resulted in a 86% loss in variance information.

### What is the verdict?

All that's left for us to do it apply the model to the test set with the reduced features and see if we can improve on the 55% accuracy.

In [43]:
paras_by_component.head()
print(paras_by_component.shape)

(162697, 1900)

First we need to retrain the model with the new feature set.

In [42]:
y_train, y_test = train_test_split(filtered_df[' Round'], test_size=0.25, random_state=26)
y_train.shape

(162697,)

In [48]:
# logistic regression
train = lr.fit(paras_by_component, y_train)
train_score = lr.score(paras_by_component, y_train)
print(train_score)

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

0.6037603643582856

In [45]:
#Reshapes the vectorizer output into something people can read
X_test_tfidf_csr = X_test_tfidf.tocsr()
#print(X_test_tfidf.shape)
#print(X_test_tfidf_csr)

#number of paragraphs
n = X_test_tfidf_csr.shape[0]

#A list of dictionaries, one per paragraph
tfidf_byques = [{} for _ in range(0,n)]

#List of features
terms = vectorizer.get_feature_names()

#for each paragraph, lists the feature words and their tf-idf scores
for i, j in zip(*X_test_tfidf_csr.nonzero()):
    tfidf_byques[i][terms[j]] = X_test_tfidf_csr[i, j]

#Keep in mind that the log base 2 of 1 is 0, so a tf-idf score of 0 indicates that the word was present once in that sentence.
print('Original sentence:', X_test[5])
print('Tf_idf vector:', tfidf_byques[5])

Original sentence: MOVIE STARS You may call him Rocky or Rambo, but his friends call him Sly
Tf_idf vector: {'sly': 0.49662028909697314, 'rambo': 0.5407947504575876, 'friends': 0.35924065997827037, 'stars': 0.31674372686574803, 'rocky': 0.4063484819278554, 'movie': 0.2577009842419211}

In [47]:
# applying lsa model to test set
X_test_lsa = lsa.transform(X_test_tfidf)

test_ques_by_component=pd.DataFrame(X_test_lsa,index=X_test)
for i in range(5):
    print('Component {}:'.format(i))
    print(test_ques_by_component.loc[:,i].sort_values(ascending=False)[0:10])
    print('\n')

Component 0:
WORLD GEOGRAPHY The largest state in Venezuela is named for this man, the country's liberator                             0.392514
U.S. STATES It's the only state whose name & capital city both consist of 2 words                                         0.372970
STATE CAPITALS One of the world's largest pipe organs is found in the tabernacle in this state capital                    0.367314
SMALL STATE CAPITALS This city became a state capital in 1826, the same year the president for which it was named died    0.366973
STATE CAPITALS This city dropped the word "Great" from its name in 1868, while it was still a territorial capital         0.354896
LYING IN STATE In 1909, before reinterment, he lay in state in the city he had planned                                    0.349969
AMERICAN WORLD CAPITALS Hey, dude! Wickenburg in this southwestern state is the "Dude Ranch Capital of the World"         0.342801
STATE CAPITALS If you know that this state's capital is Jefferson City, "show me"                                         0.330812
NAME THE COUNTRY "Something is rotten in the state of" this                                                               0.330555
STATE CAPITALS If you drove to this state capital, you'd find it's an anagram of one of the words in this answer          0.329831
Name: 0, dtype: float64


Component 1:
4-LETTER WORDS Bacall's last word on how to whistle                        0.670119
3-LETTER WORDS 3-letter word often partnered with neither in a sentence    0.658095
3-LETTER WORDS A cackleberry                                               0.655303
7-LETTER WORDS Not one or the other                                        0.655303
4-LETTER WORDS To descend to the bottom of anything, even a lavatory       0.654942
4-LETTER WORDS A perpetual one was tended to by the Vestal Virgins         0.654407
3-LETTER WORDS Quixote or Drysdale                                         0.653900
"F"IVE-LETTER WORDS The thighbone                                          0.652814
3-LETTER WORDS Unnaturally pale... two... three                            0.652277
4-LETTER WORDS It can be a custardy tart or a creme caramel                0.649876
Name: 1, dtype: float64


Component 2:
THE STATE NAME ...with the most Os                                                                                  0.696174
STATE THE OBVIOUS [State outline]                                                                                   0.694410
WHAT THE "H" IS IT? Das kapital of das Keystone State                                                               0.681259
STATE INTELLIGENCE Komitet Gosudarstvennoy Bezopasnosti                                                             0.679493
LYING IN STATE Bonnie & Clyde                                                                                       0.677640
SCIENC"E" In thermodynamics, a closed system slowly evolves towards a state of maximum this, inactivity             0.642251
STATE CAPITALS If you drove to this state capital, you'd find it's an anagram of one of the words in this answer    0.633145
THE STATE I'M IN Pottsville, Schuylkill Haven, Altoona                                                              0.629863
SAME FIRST & LAST LETTER A 4-letter U.S. state                                                                      0.609901
UNIVERSITY STATE Grambling State, Dillard, Tulane                                                                   0.591138
Name: 2, dtype: float64


Component 3:
I'M INTO WORLD "P"s We are marching to the former capital of Transvaal, this city north of Johannesburg                     0.444965
DIRTY 4-LETTER WORDS It's a polluted haze found over a city                                                                 0.435865
OMAN This, the capital city, was formerly paired with Oman in the country's name                                            0.433983
AROUND THE WORLD Bandung, this country's 3rd-largest city, is the capital of the province of West Java                      0.421650
IN COUNTRY Uranium City, Inuvik, Yellowknife                                                                                0.413886
WORLD CITIES First settled by Germanic & Slavic tribes, this city served as the capital of Brandenburg from 1486 to 1701    0.411890
WORLD CITIES Pakistan's largest city, it was the country's capital from 1947 to 1959                                        0.407777
WORLD CAPITALS One of this city's top attractions is the masuoleum of Kemal Ataturk                                         0.407281
WORLD CITIES This Swiss city is headquarters to the World Council of Churches                                               0.405854
POPCORN This country produces most of the popcorn consumed in the world                                                     0.403093
Name: 3, dtype: float64


Component 4:
CROSSWORD CLUES "B" Oleo is its understudy    0.97819
CROSSWORD CLUES "F" 3/4 or 2/5                0.97819
CROSSWORD CLUES "L" Serendipity               0.97819
CROSSWORD CLUES "V" Foxlike                   0.97819
CROSSWORD CLUES "T" Hatchets & hacksaws       0.97819
CROSSWORD CLUES "M" Clemency                  0.97819
CROSSWORD CLUES "A" So be it                  0.97819
CROSSWORD CLUES "M" Macaques & marmosets      0.97819
CROSSWORD CLUES "M" Perhaps                   0.97819
CROSSWORD CLUES "P" To Xerox                  0.97793
Name: 4, dtype: float64

In [56]:
# now let's apply the logistic regression  to the test and make some predictions
test_score = lr.score(test_ques_by_component, y_test)
print('Test score: ', test_score)

y_pred = lr.predict(test_ques_by_component)

from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, y_pred))

print(y_test.value_counts())

Test score:  0.5850128150756919
[[15211     1 11201     0]
 [  583     3   351     0]
 [10367     1 16513     0]
 [    1     0     1     0]]
Jeopardy!           26881
Double Jeopardy!    26413
Final Jeopardy!       937
Tiebreaker              2
Name:  Round, dtype: int64

58.5%! That's a 3 point improvement over the model fit with just the question. It's a small improvement but an improvement nonetheless. Looking at the confusion matrix, this model just isn't very good at predicting Final Jeopardy questions. My hypothesis is that the difficulty of a question either cannot be predicted by the frequency of a term, or the length of each question with it's limited length is just difficult to extract meaningful relationships.