In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import scipy
import sklearn
import spacy
import matplotlib.pyplot as plt
import seaborn as sns
import re
from nltk.corpus import gutenberg, stopwords

## Jeopardy!

I want to take this dataset of questions, or answers in this case since answers are the questions -_-'

In [4]:
jeopardy_raw = pd.read_csv('../../../Data/JEOPARDY.csv')

In [5]:
jeopardy_df = pd.DataFrame(jeopardy_raw)

In [6]:
jeopardy_df.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [7]:
jeopardy_df.shape

(216930, 7)

In [11]:
jeopardy_df.columns

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [12]:
# let's get rid of columns we don't need
filtered_df = jeopardy_df.drop(['Show Number', ' Air Date', ' Answer'], axis=1)
filtered_df.head()

,Round,Category,Value,Question
0,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ..."
1,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...
2,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...
3,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th..."
4,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co..."

In [14]:
# I haven't decided which column to make the target variable. Let's take a deeper look into the columns to see
# which might be best for categorizing purposes of this exercise
filtered_df[' Round'].value_counts()

Jeopardy!           107384
Double Jeopardy!    105912
Final Jeopardy!       3631
Tiebreaker               3
Name:  Round, dtype: int64

In [19]:
filtered_df[' Category'].describe()

count             216930
unique             27995
top       BEFORE & AFTER
freq                 547
Name:  Category, dtype: object

That's waaay too many categories. I don't think it will be too useful to categorize by 'Category's.

In [20]:
filtered_df[' Value'].describe()

count     216930
unique       150
top         $400
freq       42244
Name:  Value, dtype: object

It looks like I will be using the 'Round' category. Let's move on.